#
# Copyright (c) 2026 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menu "Nordic WiFi Web Dashboard"

config APP_WIFI_SSID
	string "WiFi SoftAP SSID"
	default "WebDash_AP"
	help
	  SSID of the WiFi SoftAP to create. Override this value in
	  overlay-wifi-credentials.conf (listed in .gitignore) to avoid committing
	  production credentials.

config APP_WIFI_PASSWORD
	string "WiFi SoftAP Password"
	default "12345678"
	help
	  Password for WiFi SoftAP (min 8 characters for WPA2). Provide real
	  credentials via the local overlay-wifi-credentials.conf to keep secrets
	  out of version control.

config APP_HTTP_PORT
	int "HTTP Server Port"
	default 80
	help
	  HTTP server port number

rsource "src/modules/mode_selector/Kconfig.mode_selector"
rsource "src/modules/network/Kconfig.network"
rsource "src/modules/button/Kconfig.button"
rsource "src/modules/led/Kconfig.led"
rsource "src/modules/webserver/Kconfig.webserver"
rsource "src/modules/memory/Kconfig.memory"

endmenu

source "Kconfig.zephyr"
